.container-recipe-description {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 90%;
}

#commentaire {
  text-align: center;
}

.container-recipe-ingredient-preparation {
  width: 95%;
  margin: 0% auto;
}

@media screen and (min-width: 440px) {
  .container-recipe-description {
    width: 100%;
  }

  .container-recipe-ingredient-preparation {
    width: 100%;
    margin: 0 auto;
    & #ingredients {
      width: 50%;
      margin: 0 auto;
    }
    & #preparation {
      width: 50%;
      margin: 0 auto;
    }
  }
}
