.view-profile {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.view-profile__nav button {
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.modify-profile input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.my-profile-recipes ul {
  list-style: none;
  padding: 0;
}

.my-profile-recipes li {
  display: flex;
  align-items: center;
  gap: 15px;
}
