.view-profile {
  height: 65vh;
}

.view-profile > nav > section {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: -1px;
  gap: 10%;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--primary-color);
  width: 70%;
  height: 40px;
  text-align: center;
}

.view-profile > nav > section > a {
  text-decoration: none;
  margin-top: 2%;
  align-content: center;
  min-width: 40%;
}

.active-background-profile {
  background-color: white;
  border-radius: 10px 10px 0 0;
  & a {
    color: var(--primary-color);
  }
}
.inactive-background-profile {
  color: white;
}
.active-background-modify {
  background-color: white;
  border-radius: 10px 10px 0 0;
  & a {
    color: var(--primary-color);
  }
}
.inactive-background-modify {
  color: white;
}

@media screen and (min-width: 440px) {
  .view-profile {
    height: 100%;
  }
  .view-profile > nav > section {
    width: 50%;
    height: 50px;
  }
}
