.view-profile_nav {
  display: flex;
  background-color: var(--primary-color);
  padding: 10px 10px 0px 10px;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  width: 85%;
}

.view-profile_nav button {
  flex: 1;
  background: none;
  border: none;
  color: var(--secondary-color-3);
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.view-profile_nav button.active {
  background-color: var(--secondary-color-3);
  color: var(--primary-color);
  border-radius: 10px 10px 0 0;
}

.view-profile_nav button:hover {
  opacity: 0.8;
}

.recipes-btn {
  display: none;
}

.view-profile_nav button.active::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 100%;
  height: 5px;
  background: var(var(--secondary-color-3));
  transform: translateX(-50%);
}
