.container-form-auth {
  display: block;
  align-content: center;
  width: 70%;
  height: 100%;
  margin: 10% auto;
  & h1 {
    font-size: 20px;
    text-align: center;
    font-family: var(--font-primary);
  }
}

.container-form-auth > section:first-of-type {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin: 15% auto;
  font-family: var(--font-primary);
  & input {
    background-color: var(--secondary-color-2);
    border: none;
    height: 50px;
    border-radius: 10px;
  }
}

.legal-notices {
  margin: 0 10px 0 0;
}

.container-form-auth > section:last-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 5% auto;
  gap: 5%;
  & button {
    background-color: var(--secondary-color-2);
    border: none;
    border-radius: 10px;
    width: 100%;
    font-size: 16px;
  }
}

/*  * RESPONSIVE  */

@media screen and (min-width: 440px) {
  .container-form-auth {
    margin: 0% auto;
    font-family: var(--font-primary);
    height: 100%;
    & h1 {
      font-family: var(--font-primary);
      font-size: 45px;
      color: var(--primary-color);
    }
  }
  .container-form-auth > section:first-of-type {
    font-size: 20px;
    color: var(--primary-color);
    margin: 5% auto;
    width: 40%;
    height: 100%;
    & label {
      margin: 1em 0 0 0;
    }
    & input {
      border-radius: 15px;
      height: 50px;
      padding: 10px;
      font-size: 16px;
    }
  }

  .container-form-auth > .legal-notices {
    width: 60%;
    margin: 5% auto;
    text-align: center;
    & input {
      height: 20px;
      width: 30px;
    }
    & label {
      margin: 5px;
      font-size: 20px;
    }
  }
  .container-form-auth > section:last-of-type {
    margin: 6% auto;
    & button {
      cursor: pointer;
      font-size: 20px;
      border-radius: 15px;
      font-family: var(--font-primary);
      width: 25%;
      box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.111);
      height: 2.5em;
      transition: ease-in 150ms;
    }
    & button:hover {
      color: white;
      transition: ease-in 150ms;
      background-color: var(--primary-color);
    }
    & p {
      font-size: 16px;
      font-family: var(--font-primary);
    }
  }
}
