/* <------ Nav ----->*/

.main-nav {
  display: block;
  background-color: var(--primary-color);
  color: var(--secondary-color-2);
  max-height: 100%;
  margin: 0%;
}

.main-nav > ul > li:nth-of-type(2) > a {
  display: block;
  align-content: center;
  text-align: end;
  height: 100px;
  width: 100px;
}

.logo-header {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* * User isLogged True */

.isLogged-header-true {
  display: block;
  border: none;
  border-radius: 10px;
  background: none;
}

.isLogged-header-true {
  height: 90px;
  width: 90px;
  padding: 10px;
}

.isLogged-header-true > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* * User isLogged False */

.isLogged-header-false:last-child {
  display: block;
  height: 40px;
  padding: 10px;
  color: var(--primary-color);
  text-decoration: none;
  align-content: center;
  font-size: 16px;
  background: var(--secondary-color-2);
  width: 100%;
  border-radius: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 1em;
}

/* * Admin isLogged */

.isLogged-header-admin {
  display: block;
  height: 90px;
  width: 90px;
  border: none;
  background: none;
  padding: 10px;
}
.isLogged-header-admin > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

/* * RESPONSIVE */

@media screen and (min-width: 440px) {
  .main-nav > ul > li:nth-of-type(2) > a {
    height: 150px;
    width: 150px;
  }
}
