/* Horizontal Recipie Card CSS */
.horizontal-card {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color-2);
  height: 180px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgb(120, 120, 120);
  & picture {
    width: 50%;
    height: 80%;
    gap: 150px;
  }
  & picture > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0px 80% 80% 0px / 25px 100% 100% 25px;
  }
  & article {
    font-family: var(--font-secondary);
    width: 50%;
    padding: 5px;
  }
}
